.App {
  text-align: center;
  overflow-y: auto; /* Add this line to enable vertical scrolling */
  height: 100vh; /* Ensure the div takes the full viewport height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: smooth;
}

.hero-section {
  background: url('/src/images/gray-painted-background.jpg') no-repeat center center;
  background-size: cover; /* Ensure the background image covers the entire section */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 3rem;
  margin: 0 0 20px 0; /* Add space between title and subtitle */
  padding: 10px;
  border-radius: 5px;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin: 0;
  padding: 0 20px; /* Add padding to the subtitle */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    padding: 0 10px; /* Add padding to the subtitle on smaller screens */
  }
}

.about-section, .tech-expertise-section, .accomplishments-section, .mission-section, .footer-section {
  padding: 50px 20px;
  text-align: center;
}

.about-section img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.tech-expertise-section {
  padding: 50px 20px;
  text-align: center;
}

.tech-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.tech-left, .tech-right {
  width: 45%;
  opacity: 0;
  text-align: left;
}

.tech-left {
  text-align: right;
}

.accomplishments-section {
  padding: 50px 20px;
  text-align: center;
}

.accomplishments-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
}

.accomplishment-word {
  opacity: 1;
  transition: transform 1.5s, opacity 1.5s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .accomplishment-word {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .accomplishment-word {
    font-size: 0.6rem;
  }
}

.mission-section {
  padding: 50px 20px;
  text-align: center;
}

.mission-text {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  opacity: 0; /* Initial opacity for animation */
}

.mission-text span {
  display: inline-block;
  opacity: 0;
  white-space: nowrap; /* Ensure words do not wrap */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .mission-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .mission-text {
    font-size: 0.9rem;
  }
}

/* Add more styles as needed */
